// My theme variables

// Color
$mdc-theme-primary: #d81b60;
$mdc-theme-on-primary: white;
$mdc-theme-surface: #fce4ec;
$mdc-theme-on-surface: black;

// Typography
@import url('https://fonts.googleapis.com/css?family=Raleway');
$mdc-typography-font-family: unquote("Raleway, sans-serif");

// Shape
$mdc-shape-small-component-radius: 20px;


// Import Material Components
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";


// Add custom styling
body {
  padding: 5vh;
}

.food-field {
  width: 300px;
  margin: 20px 0;
}

.eat-button {
  display: block;
}
